<nb-layout center>
  <nb-layout-column style="display:flex; align-items: center; justify-content: center">
    <nb-card>
      <nb-card-header>
        Wimm: Where Is My Money?
      </nb-card-header>
      <nb-card-body>
        <button nbButton hero status="success" fullWidth (click)="goToApp()">Next</button>
      </nb-card-body>
      <nb-card-footer>
        <span class="created-by">Created with ♥ by @garyng. Template by <a href="https://github.com/akveo/ngx-admin/">ngx-admin</a>.</span>
      </nb-card-footer>
    </nb-card>

  </nb-layout-column>
</nb-layout>
